# Variables de entorno para Pinata

# JWT de autenticación de Pinata (obtener de https://app.pinata.cloud/developers/keys)
PINATA_JWT=tu_jwt_aqui

# URL del Gateway de Pinata
GATEWAY_URL=https://pinata-server.pinata-server.workers.dev/presigned_url
